/*============ SOMENTE O MAIN ============*/

:root{
    --pulo-atras: 10%;
    --pulo-acima: 20%;
}

body{
    overflow: hidden;
}

main{
    background-image: url(/1781.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#ceu{
    height: 50%;
}

#pista{
    display: flex;
    align-items: flex-end;
    margin-left: 0;
    height: 50%;
    width: 100%;
}

#gif{
    margin-left: 90%;
    margin-top: 0;
    width: 10%;

    animation: none;
} 

#banco{
    position: absolute;
    width: 10%;
    margin-left: 20%;
    animation: banco 2s infinite linear;
}

/*==============  Animação ==============*/

@keyframes puloatras{
    0%{
        margin-bottom: 0%;
    }
    40%{
        margin-bottom: var(--pulo-acima);
    }
    50%{
        margin-bottom: var(--pulo-acima);
    }
    60%{
        margin-bottom: var(--pulo-acima);
    }
    100%{
        margin-bottom: 0%;
        margin-left: var(--pulo-atras);
    }
}

@keyframes banco{
    0%{
        margin-left: 100%;
    }
    100%{
        margin-left: 0%;
    }
}



/*============== Responsividade ==============*/