/*============ SOMENTE O MAIN ============*/
@import url(/scripts/script.js);
body{
    overflow-x: hidden;
}


main{
    background-image: url(/img/2509.jpg);
    background-size: cover;
    
}



#ceu{
    height: 50%;
}


#pista{
    display: flex;
    align-items: flex-end;
    height: 50%;
    

}

#gif{
    width: 10%;
    animation: none;
    
} 

#banco{
    position: absolute;
    width: 10%;
    margin-left: 20%;
    animation: banco 4s infinite linear;
}

/*==============  Animação ==============*/

@keyframes gif{
    0%{
        margin-bottom: 0%;
        
    }
    40%{
        margin-bottom: 20%;
        
    }

    50%{
        margin-bottom: 20%;
    }
     
    60%{
        margin-bottom: 20%;
    }

    100%{
        margin-bottom: 0%;
        margin-left: 10%;
    }
}


@keyframes banco{
    0%{
        margin-left: 120%;
    }
    100%{
        margin-left: 0%;
    }
}



/*============== Responsividade ==============*/
