/*============ SOMENTE O MAIN ============*/

:root{
    --Inicio-Pulo: calc(100% - 200px);
    --Altura-Pulo: calc(-10% - 200px);
    --Fim-Pulo: calc(100% - 200px);

}

body{
    position: absolute;
    overflow: hidden;
    

}
main{
    position: relative;
    background-image: linear-gradient(to bottom, rgb(55, 55, 254), rgb(32, 229, 255));

}
#ceu{
    position: relative;
    height: 50%;
    width: 100%;
}
#pista{
    position: absolute;
    height: 50%;
    width: 100%;
}
#Player{
    position: absolute;
    height: 200px;
    width: 130px;
    top: calc(100% - 200px);
    

    
}

@keyframes teste{
    0%{
        top: var(--Inicio-Pulo);
    }
    50%{
        top: var(--Altura-Pulo);
    }
    100%{
        top: var(--Fim-Pulo);
    }
}

/*==============  Animação ==============*/

/*============== Responsividade ==============*/